// HERO BANNER
.hero-banner{
    position: relative;
    background-image: url('img/logo/hero.jpeg');
    background-repeat: no-repeat;
}

.hero-banner .title{
    font-size: 70px;
}

// CHARACTERS
.characters{
    overflow: hidden;

    img{
        aspect-ratio: 1/1;
        object-fit: contain;
    }
}

.card{
    &:hover{
        scale: 1.1;
    }

    ul {
        border: 0.5px solid black;
        border-radius: 20px;
        padding: 50px;

        li{
            display: flex;
            justify-content: space-between;
        }
    }
}

